# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub/
.dart_tool/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
*.xcworkspace

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock
macos/.symlinks/
*.xcworkspace

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store

# Environment config files
.env
.env.*

# Firebase (optional)
**/google-services.json
**/GoogleService-Info.plist

# Symbolication and crash reports
crashlytics/
appcenter/
